@import 'variables';
@import 'pageHeading';
@import 'projects';
@import 'tools';
@import 'contact';
@import 'footer';
@import 'navbar';

html {
    font-size: 70%; // 1rem is 10px
    scroll-behavior: smooth;
    letter-spacing: 2px;
}

