@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes slideUp2 {
    0% {
        transform: translateY(150%);
    }
    100% {
        transform: translateY(0%);
    }
}

.app {
    position: relative;
    .navbar {
        z-index: 10;
        height: 70px;
        background-color: $nav-prescroll-bg;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-around;
        padding: 0px 40px;
        transition: 1s ease;
        .link {
            transition: 1s ease;
            font-size: 1.5rem;
            text-decoration: none;
            color: $nav-link-prescroll-color;
            padding: 0px 10px;
            cursor: pointer;
        }
    }
    .scrolled {
        padding-right: 65%;
        background-color: $nav-scroll;
        height: 60px;
        box-shadow: $nav-box-shadow;
        border: none;
        @include phone {
            padding: 0px;
        }
        a:not([href]) {
            color: $nav-links;
        }
        .link {
            color: $nav-links;
            font-size: initial;
        }
    }
    .main-body {
        margin-top: 70px;
        .main-body-content {
            .top-grid {
                display: grid;
                grid-template-columns: 1.5fr 3fr;
                border-top: 2px solid $nav-scroll;
                padding-bottom: 30px;
                @include phone {
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    // grid-template-columns: 1fr 1.5fr;
                    background-color: $nav-scroll;
                    background-image: url(../../static/assets/computer.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .top-right {
                    background-color: $nav-scroll;
                    background-image: url(../../static/assets/computer.jpg);
                    height: 500px;
                    // background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    border-bottom-left-radius: 10px;
                }
                .top-left {
                    position: relative;
                    font-size: 4rem;
                    letter-spacing: 2px;
                    @include phone {
                        font-size: 3rem;
                        color: white;
                    }
                    .ryan {
                        position: absolute;
                        right: -110px;
                        top: 32%;
                        overflow: hidden;
                        @include phone {
                            position: initial;
                            margin-bottom: 190px;
                            margin-left: 10px;
                        }
                        span {
                            display: inline-block;
                            animation: 1.5s ease 0s 1 slideUp;
                            color: $word-animated;
                        }
                    }
                    .problems {
                        position: absolute;
                        right: -201px;
                        top: 60%;
                        overflow: hidden;
                        @include phone {
                            position: initial;
                            margin-left: 40px;
                        }
                        span {
                            display: inline-block;
                            animation: 2.25s ease 0s 1 slideUp2;
                            color: $word-animated;
                        }
                    }
                }
            }
        }
    }
}