@mixin project {
    background-size: cover;
    background-position: center;
}

.projects-wrapper {
    text-align: center;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
        border-style: none;
        border-radius: 4px;
        background-color: $stats-button-bg;
        width: 10%;
        &:active {
            color: black;
        }
        @include phone {
            width: 20%;
        }
    }
    .projects-heading {
        width: 80%;
        padding-top: 30px;
        border-top: 1px solid $proj-top-border;
        font-size: $section-heading-font-size;
        margin-bottom: 40px;
        
    }
    .projects-grid {
        margin-top: 20px;
        width: 80%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 300px;
        grid-gap: 50px 40px;
        @include phone {
            grid-auto-rows: 250px;
            grid-template-columns: 1fr;
            width: 90%;
            grid-gap: 0px 0px;
        }
        .project {
            position: relative;
            transition: 1s ease;
            line-height: 2.5rem;
            width: 100%;
            padding: 30px 50px;
            opacity: .8;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $project-link;
            font-weight: 700;
            text-decoration: none;
            position: relative;
            @include phone {
                border-radius: 15px;
                border: 2px solid black;
                width: 80%;
                height: 200px;
            }
            h1 {
                font-size: 2.5rem;
                color: $proj-title-color;
            }
            .description {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                padding: 55px 40px;
                align-items: center;
                font-size: 1.3rem;
                color: $proj-desc-color;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color:#050608d6;
                border-radius: 9px;
                opacity: 0;
                transition: .5s ease;
            }
            &:hover {
                opacity: 1;
                transition: .5s ease;
                transform: scale(1.02);
                .description {
                    opacity: 1;
                    color: $hover-text-color;
                }
            }
            &:active {
                transition: .5s ease;
                transform: scale(.98);
            }
            .statsHidden {
                opacity: 0;
                visibility: hidden;
            }
            .stats {
                transition: 1s ease;
                position: absolute;
                bottom: -40px;
                color: $stats-color;
                align-self: center;
                font-size: 1.2rem;
            }
            
        }
        .project-diner {
            background-image: url(../../static/assets/diner.png);
            @include project
        }
        .project-calc {
            background-image: url(../../static/assets/calc.png);
            @include project 
        }
        .project-mad {
            background-image: url(../../static/assets/mad.png);
            @include project
        }
        .project-movie {
            background-image: url(../../static/assets/movie.png);
            @include project           
        }
    }
    .github-link {
        margin-top: 70px;
        display: flex;
        align-items: center;
        a {
            transition: .5s ease;
            text-decoration: none;
            color: $github-link;
            &:hover {
                transition: .5s ease;
                transform: scale(1.1)
            }
            .fab {
                margin-left: 30px;
                font-size: 5rem;
            }
        }
        @include phone {
            flex-direction: column;
            padding: 0px 10px;
            .fab {
                margin-top: 40px;
            }
        }
        
           
    }
    
   
}