@keyframes borderGrow {
    0% {
        transform: scaleX(.01);
    }
    100% {
        transform: scaleX(100%);
    }
}
@keyframes borderShrink {
    0% {
        transform: scaleX(100%);
    }
    100% {
        transform: scaleX(0);
        visibility: hidden;
    }
}

.tools-wrapper {
    text-align: center;
    background-color: $tools-bg;
    margin-top: 150px;
    padding: 50px 0px;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    .tools-heading {
        margin-bottom: 30px;
        font-size: $section-heading-font-size;
        color: $tools-heading-color;
    }
    .tools-grid {
        margin-top: 20px;
        width: 80%;
        height: 100%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 300px;
        @include phone {
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: 200px;
            width: 100%;

        }
        .tool {
            width: 50%;
            transition: 1s ease;
            display: flex;
            flex-direction: column;
            @include phone {
                width: 75%;
            }
            .title {
                .h-expand {
                    color: $tools-title-color;
                    transition: 1s ease;
                    margin-bottom: 30px;
                    padding-bottom: 10px;
                    &::after {
                        display: block;
                        content: '';
                        padding-bottom: 10px;
                        border-bottom: 2px solid $tools-border;
                        animation: borderShrink 2s ease 0s 1 forwards;
                    }
                }
                .line {
                    &::after {
                        content: '';
                        display: block;
                        padding-bottom: 10px;
                        border-bottom: 2px solid $tools-border;
                        border-radius: 2px;
                        animation: borderGrow 2s ease 0s 1 ;
                    }
                }
              
            }
        }
        .scale-tool {
            transition: 1.5s ease;
        }
        .bigger {
            transition: 1.5s ease;
            transform: $tool-scale;
        }
        .html {
            background-image: url(../../static/assets/html.png);
            @include bg-icon
        }
        .react {
            background-image: url(../../static/assets/react.png);
            @include bg-icon
        }
        .python {
            background-image: url(../../static/assets/python.png);
            @include bg-icon
        }
        .js {
            background-image: url(../../static/assets/js.png);
            @include bg-icon
        }
        .git {
            background-image: url(../../static/assets/git.png);
            @include bg-icon
        }
        .scss {
            background-image: url(../../static/assets/sass.png);
            @include bg-icon
        }        
    }
}