
@mixin phone {
    @media (max-width: 880px) {
        @content;
    }
}
@mixin phone2 {
    @media (width: minmax(550px, 880px)) {
        @content;
    }
}

@mixin bg-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 100px;
    align-self: center;
}


//fonts
$section-heading-font-size: 3.5rem;


//Nav Section
// $nav-prescroll-bg: white;
$nav-bg: linear-gradient(to right, white 20%, #b2bdc7);
$nav-scroll: #e4e5ec;
$nav-links: #050608;
$nav-box-shadow: 0px 0px 3px 0px white;

//Heading Section
$word-animated: #050608;
$top-words: #050608;

//Projects Section
$project-link: #00d3e4;
$proj-top-border: #050608;
$proj-title-color: white;
$proj-desc-color: #050608;
$hover-text-color: white;

//Tools Section
$tools-heading-color: white;
$tools-icon-color: white;
$tools-bg: #d2d9e0;
$tools-border: white;
$tools-title-color: #050608;
$tool-scale: scale(1.4);

//Contact Section
$contact-link-color: #00d3e4;
$contact-icon-color: #050608;
$github-link: #050608;

//Footer Section
$footer-bg: #d2d9e0;
$footer-color: #050608;
$footer-font-size: initial;