
@mixin phone {
    @media (max-width: 880px) {
        @content;
    }
}
@mixin phone2 {
    @media (width: minmax(550px, 880px)) {
        @content
    }
}


//fonts
$section-heading-font-size: 3.5rem;


//Nav Section
$nav-prescroll-bg: white;
$nav-link-prescroll-color: #050608;
$nav-scroll: #050608;
$nav-links: #00d3e4;
$nav-box-shadow: 0px 0px 3px 0px white;

//Heading Section
$word-animated: white;

//Projects Section
$project-link: #00d3e4;
$proj-top-border: #050608;
$proj-title-color: #050608;
$proj-desc-color: #050608;
$hover-text-color: white;

//Tools Section
$tools-heading-color: white;
$tools-icon-color: white;
$tools-bg: #050608;
$tools-border: #ff4400;
$tools-title-color: #00d3e4;
$tool-scale: scale(1.4);

//Contact Section
$contact-link-color: #00d3e4;
$contact-icon-color: #050608;

//Footer Section
$footer-color: #00d3e4;
$footer-font-size: initial;